* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary: hsl(0, 100%, 74%);
  --clr-secondary: hsl(154, 59%, 51%);
  --clr-accent: hsl(248, 32%, 49%);
  --clr-neutral-700: hsl(249, 10%, 26%);
  --clr-neutral-400: hsl(246, 25%, 77%);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--clr-primary);
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-inline: 2rem;
  padding-block: 4rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 16px);
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

small {
  font-size: 0.5rem;
}

.intro {
  color: white;
  text-align: center;
}

.banner {
  background-color: var(--clr-accent);
  text-align: center;
  color: white;
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 0.5em;
}

.banner-text {
  font-size: 1.25rem;
}

.banner span {
  font-weight: 600;
}

.terms {
  color: var(--clr-neutral-400);
  font-size: 11px;
  text-align: center;
}

.terms span {
  color: var(--clr-primary);
  font-weight: 500;
}

.form {
  background-color: white;
  border-radius: 0.5em;
  padding: 2rem;
}

.form-control {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25em;
  color: var(--clr-neutral-700);
  font-weight: 600;
  border: 1px solid var(--clr-neutral-400);
}

.form-control input:focus {
  border-color: var(--clr-neutral-700);
  outline: 0;
}

.form-control.success input {
  border-color: var(--clr-secondary);
}

.form-control.error input {
  border-color: var(--clr-primary);
}

.form-control img {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  visibility: hidden;
}

.form-control.error img {
  visibility: visible;
}

.form-control small {
  color: var(--clr-primary);
  position: absolute;
  right: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.btn {
  background-color: var(--clr-secondary);
  width: 100%;
  display: block;
  padding: 1rem;
  border-radius: 0.5em;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 3px solid var(--clr-secondary);
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }

  .container {
    max-width: 1110px;
    margin-inline: auto;
  }

  main {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .intro {
    text-align: left;
  }

  .banner-text {
    font-size: 1rem;
  }

  .sign-up {
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .terms {
    font-size: 10px;
  }
}
